# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\augustobellinaso-java\deitel-java-como-programar-10edicao-ptbr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
